@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
  font-family: "Chelsea Market", "Cormorant Garamond", "Montserrat", sans-serif;
  background-color: rgb(237, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  /* font-family: "Chelsea Market"; */
}

button:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.app-title {
  font-size: 1.5rem;
  justify-self: center;
}

.app-title h1 {
  font-weight: 600;
}

.container,
.display-container {
  width: min(95%, 1000px);
  display: flex;
  gap: 10px;
}

.display-container {
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}

.container input {
  width: 100%;
  font-size: 1rem;
  border-radius: 10px;
  border: 0px solid grey;
  padding: 15px 15px;
}

.container form {
  width: 100%;
  display: flex;
  gap: 10px;
}

#search-location-form button, #toggle-unit-btn {
  font-size: 1rem;
  border: 0px solid grey;
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 1px 2px 7px lightgray;
}

#toggle-unit-btn {
  padding: 15px 15px;
  width: 80px;
  color: rgb(119, 116, 116)
}

#toggle-unit-btn span.active {
  font-weight: 900;
  color:black;
}

/* The spinning animation */
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db; /* Blue accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  align-self: center;
}

.spinner-text {
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  color: rgb(194, 12, 12);
}

.current-weather-section {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.15);
  gap: 40px;
}

.current-left {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  gap: 5px;
}

.current-left .curr-loc {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.current-left .curr-date {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(86, 84, 84);
}

.temp-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  /* justify-self: center; */
}
.temp-section .temp-icon {
  font-size: 3.5rem;
  display: grid;
  width: 90%;
  align-self: center;
  justify-self: center;
}
.temp-section .temp {
  font-size: 3.5rem;
  font-weight: 600;
}

.temp-section .temp-desc-section {
  display: grid;
  align-items: center;
}

.weather-desc {
  font-size: 0.8rem;
  color: rgb(68, 67, 67);
}

.current-right {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}

.curr-stats-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 50%;
}

.curr-stats-bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.curr-stats-bottom .curr-stats {
  justify-items: center;
  text-align: center;
}

.current-right .stat-name {
  font-size: 0.7rem;
}

.curr-stats {
  background-color: rgb(237, 236, 236);
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.curr-stats-top .stat-value {
  font-size: 1.6rem;
  /* max-width: 50%; */
}

.forecast-header {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(86, 84, 84);
  display: flex;
  gap: 10px;
  align-items: center;
}

.forecast-header-icon {
  width: 20px;
  display: grid;
}

.forecast-card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 14px 8px;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  /* grid-template-rows: auto auto 70px auto auto; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.forecast-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.forecast-day,
.forecast-date,
.forecast-sky {
  font-size: 11px;
}

.forecast-day {
  font-weight: 600;
}

.forecast-icon {
  font-size: 2rem;
  margin: 40px 0px;
  display: grid;
  width: 70px;
  height: 70px;
  /* justify-content: center; */
}

.forecast-icon svg {
    width: 100%;
    height: 100%;
}

.forecast-sky {
  margin-bottom: 20px;
}

.forecast-high-low {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 0.9rem;
}

.forecast-low {
  color: rgb(151, 150, 150);
}
